<div id="content">
<h2>Album Details</h2>
<p>Title:</p>
<%= @album.title %>

<p>Artist:</p>
<%= Artist.find(@album.artist_id).name %>


<!-- delete button -->

<form action="/albums/<%= @album.id %>/delete" method="post">
  <input type="submit" value="Delete Album"/>
</form>

<a href="/albums/<%= @album.id %>/edit ">Edit album</a>

</div>



  <iframe src="https://embed.spotify.com/?uri=<%= @spotify_link %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

